{{ define "main" }}
    <article>
        <p>
            The
            <strong style="color: #FFFFFF;
                       background-color: #FF0000;
                       padding: 0 5px 0;
                       margin: 0 2px 0;">
                clean theme
            </strong>
            is the best choice for your minimalist personal page, blog or project site.
            Under the hood it's using the
            <a href="https://igoradamenko.github.io/awsm.css/index.html">awesome css</a>
            library.
        </p>

        <hr>

        <h3>Latest posts</h3>
        {{$posts := ($.Site.GetPage "section" "post").Pages.ByPublishDate.Reverse}}
        {{ range first 2 $posts }}
            {{ partial "page_list_section.html" . }}
        {{ end }}
        <br><br>
        <a href="/posts">View all posts</a> |
        <a href="/tags">View tags</a>
    </article>
{{ end }}